<% layout("layouts/boilerplate.ejs") %>
<body>
    <h1>All Movies</h1>
    <!-- <form method="GET" action="/listings/new">
        <button>Add New Movie</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for (let listing of allListing) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col">
                <img src="<%= listing.img %>" class="card-img-top" alt="listing-image" style="width: 20rem;">
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.name %></b>
                    </p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
</body>
